body {
	background: rgba(209, 32, 38, 1);
	margin: 0 auto;
	text-align: center;
	font-family: courier;
	margin: 0 auto;
}

.wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	max-width: 1200px
}
.content {
	/*flex: 1;*/
}

#theZone {
	/*flex: 1;*/
}

h1 {
	border-bottom: 2px solid white;
	margin: 0 auto;
	display: inline;
}